<% for(var i=0;i<productos.length;i++){%>
    
    <tr>
        <td><span><%= productos[i].id_producto %></span></td>
        <td><%= productos[i].nombre_producto %><br></td>
        
        <td class="content-icon-ser">
            <div>
                <a href="/edd/product/<%= productos[i].id_producto %>"><ion-icon name="pencil-outline" class="pencil"></ion-icon></a>
            </div>
            <div>
                <a href="/delete/product/<%= productos[i].id_producto %>"><ion-icon name="close-outline" class="delete"></ion-icon></a>
            </div>
        </td>
    </tr>
    
    
    <% } %>