<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/logoaceitera.png" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a class="img-logo">
                        <span class="logo-img"><img src="/img/logoaceitera.png" alt=""></span>
                        <span class="title1" id="aceitera">ACEITERA</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/clientes">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="/productos">
                        <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                        <span class="title">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="/proveedores">
                        <span class="icon"><ion-icon name="footsteps-outline"></ion-icon></span>
                        <span class="title">Proveedores</span>
                    </a>
                </li>
                <li>
                    <a href="/entradas">
                        <span class="icon"><ion-icon name="pricetag-outline"></ion-icon></span>
                        <span class="title">Entradas</span>
                    </a>
                </li>
            </ul>
        </div>