<%- include('layouts/header')%>


<div class="main">
    <% 
            if(mensaje.length==0){
                alert = ''
            }else{
                alert = 'datos almacenados'
            }
        %>
        
    <div class="topbar">
       
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
    </div>
    <div class="content-customers">
        
<!--New customers-->
<div class="cardHeader">
    <h2>Productos</h2>
    
</div>


<div class="recentCustomers">
    
    
    <table class="tablex">
        <thead>
            <tr>
                <td><h4>Id Producto</h4></td>
                <td><h4>Nombre Producto</h4></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <%- include('layouts/datos-pro')%>
        </tbody>
    </table>
</div>
</div>
<%if(mensaje.length>0){%>
    <div class="alerta hola"><%= mensaje%></div>
<% } %>

<a href="/add-producto" class="agregar-boton"><ion-icon name="add-outline"></ion-icon></a>
</div>
<script src="/js/alertas.js"></script>
<%- include('layouts/footer')%>